/* Custom button styles */
.btn-red {
  color: #fff;
  background-color: #e94c4c;
  background-image: linear-gradient(#f06c6c, #e94c4c);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 4px 10px rgba(0, 0, 0, 0.12);
}

.btn-red:hover, .btn-red.zeroclipboard-is-hover {
  color: #fff;
  background-color: #e73737;
  background-image: linear-gradient(#ee5a5a, #e73737);
}

.btn-red:active, .btn-red.selected, .btn-red.zeroclipboard-is-active {
  background-color: #e52525;
  background-image: none;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.btn-red.selected:hover {
  background-color: #d41c1c;
}
